# Node.js dependencies
/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist
build

# Environment variables
.env

# Temporary files
tmp
temp
*.tmp

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
*.lock
